/* Style for the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    padding-left: 70px;
  }

body {
    background-color: #161B24;
    color: #ffffff;
    font-family: 'Aladin';
    font-size: large;
    
}

/* Style for the form */
form {
    display: flex;
    flex-direction: column;
}

/* Style for the input fields */
input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Style for the image upload input */
#imageInput {
    height: 250px;
    width: 350px;
    border: #000000;
    border-style: dashed;
    background-color: #ccc;
}

/* Style for the submit button */
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
